## python
- **numpy**(numerical python)
- **pandas**
- **data visualiation**\

In [ ]:
import numpy as np
np.__version__

In [ ]:
a=np.array([1,3,5,6])
print(a)

In [ ]:
type(a)

In [ ]:
b=np.numpy()

In [ ]:
print(a.shape)

In [ ]:
print(a.dimension)

In [ ]:
print(a.dim)

In [ ]:
print(a.ndim)

In [ ]:
b=np.array([23,45,78,9])
print(b)

In [ ]:
print(type(b))

In [ ]:
print(b.shape)

In [ ]:
print(b.shape)

In [ ]:
print(b.ndim)

In [ ]:
c=np.array([[2,4,5,6],[4,56,7,8]])
print(c)

In [ ]:
print(type(c))

In [ ]:
print(c.shape)

In [ ]:
print(c.ndim)

In [ ]:
d=np.array([[[3,4,5],[4,7,8],[7,9,0]]])
print(d)

In [ ]:
print(type(d))

In [ ]:
print(d.shape)

In [ ]:
print(d.ndim)

In [ ]:
l=i=np.range(1000)
%timeit [i**2 for i in 1]

In [ ]:
l=range(1000)
%timeit [i**2 for i in l]

In [ ]:
import numpy as np

In [ ]:
l=np.arange(1000)
%timeit [i**2 for i in l]

## comprehensions 
- comprehensions in general refers ton a paragraph describing something
- comprehensions means shortening the no of lines of code
- **bold syntax **
   - [output input sequence condition check]
- 2 comprehensions 
- list,dict comprehensions
- out put input conditions

In [ ]:
#prepare a list of square values of numbers present in range
n=int(input())
l=[print(n,'x',i,"=",n*i) for i in range(1,10+1) ]

In [ ]:
s=input()
l=[print(a,ord(a)) for a in s if ord(a)%2 is 0]

### Dictionary comprehension

In [ ]:
# prepare a dict of cubic values of nos
# present in a range
l={x:x**3 for x in range(int(input()))}
print(l)

In [ ]:
a={x:chr(x) for x in range (35,int(input()))}
print(a)
l={print (a,chr(a)) for a in range (35,int(input("enter a number")))}

In [ ]:
dir(np
   )

In [ ]:
import numpy as np
dir(np)

In [ ]:
n=np.array(range(30,50))
n

In [ ]:
n=np.array((3,8,"rvr"))
n

In [ ]:
import numpy as np

In [ ]:
n=np.array([(2,3,4),(4,5,6)])
n

## creating array using arrange
 - works like range in python

In [ ]:
import numpy as np
n=np.arange(10)
n=np.arange(10,40)
n

In [50]:
st=input()
result=' '
for ch in st:
    if ch not in result:
        result+=str(st.count(ch))+ch
print(result)

aabbxx
 2a2b2x

In [ ]:
#ar=np.arange(10000).reshape(20,-1)
ar=np.arange(10000).reshape(-1,20)
print(ar)

### random

In [ ]:
print(np.random.randint(20))

In [ ]:
print(np.random.randint(10,20))

In [ ]:
print(np.random.randint(10,20))

In [ ]:
print(np.random.random(40))

In [ ]:
print(np.random.rand(5,7))

In [33]:
ar=np.arange(10).reshape(1,10)
a=np.diag(ar)
print(ar)
print(a)

[[0 1 2 3 4 5 6 7 8 9]]
[0]

In [57]:
print('\U0001F36784')

üçß84

###  pandas
- panel data
     - data is in form of row and columns

In [60]:
import pandas as pd

In [65]:
pd.Series((34,3,2,'hari'))

0      34
1       3
2       2
3    hari
dtype: object

In [69]:
#dict into series
pd.Series({1:'mon',2:'true',3:'wed'})

1     mon
2    true
3     wed
dtype: object

In [70]:
a=np.arange(1,10)
s=pd.Series(a)
s

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32

###  data frames

In [86]:
dic={'names':['revanth','ravi','sunny'],'rank':[1,20,100]}
dic2={'names':['chandra','ramu','rahul'],'rank':[2,5,78]}
s=pd.DataFrame(dic)
s2=pd.DataFrame(dic2)
s.merge(s2)

Empty DataFrame
Columns: [names, rank]
Index: []

In [89]:
pd.concat([s,s2])

     names  rank
0  revanth     1
1     ravi    20
2    sunny   100
0  chandra     2
1     ramu     5
2    rahul    78